<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-SENAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="container">

        <div class="imagem-login">
            <img src="{{ url_for('static', filename='almoxarifado-login.png') }}" alt="Almoxarifado">
        </div>

        <div class="area-login">

            <div class="formulario">

                <h1>LOGIN</h1>
                <p>Acesse o sistema de almoxarifado</p>

                <input type="text" placeholder="Usuário">

                <input type="password" placeholder="Senha">

                <button>Entrar</button>

            </div>

        </div>

    </div>

</body>
</html>